.image {
    height: auto;
    max-width: 400px;
    width: 100%;
}

.image-container {
    margin: 0 auto;
    text-align: center;
}

.ingredients-list {
    list-style-type: initial;
}

.recipe {
    max-width: 450px;
    margin: 0 auto;
}

.recipe-links img{
    height: auto;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.recipe-list-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.recipe-steps {
    font-size: .85em;
}

.section-heading {
    text-decoration: underline;
}

.title {
    text-align: center;
    background-color: aqua;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 15px;
}